/* Style for Whole Site */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--page-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  overflow-y: auto;
  /* scrollbar-gutter: stable both-edges; */
  margin: 0;

  --page-background-color: #242424;
  --bar-background-color: #303030;
  --bar-border-color: #292929;
  --bar-shadow-color: #0e0e0e65;
  --button-background-color: #3a3a3a;
  --button-border-color: #272727;
  --font-color: rgba(255, 255, 255, 0.87);
  --table-header-color: #065863;
  --light-table-color: #3a3a3a;
  --dark-table-color: #303030;
  --light-table-hover-color: #333333;
  --dark-table-hover-color: #2b2b2b;
  --form-background-color: #395b60;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Style for  Top Bar*/
.topBar,
.sideBar {
  display: flex;
  border: 1px solid var(--bar-border-color);
  background-color: var(--bar-background-color);
  box-shadow: 0 3px 10px var(--bar-shadow-color);
  margin: 0;
}

.topBar {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100vw;
  min-width: 760px;
  height: 7vh;
  min-height: 70px;
}

.logoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  width: fit-content;
  margin: 10px;
}

.logo {
  height: 50px;
  margin: 10px;
}

.currentUserBox {
  display: flex;
  justify-content: end;
}

.currentUserButton,
.signInButton {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--button-background-color);
  color: var(--font-color);
  text-decoration: none;
}

.currentUserButton:hover,
.signInButton:hover {
  background-color: var(--page-background-color);
}

/* Sets Everything But Top Bar as Flex-Row */
.centerPage {
  display: flex;
  flex-direction: row;
}

/* Style for Navigation Side Bar */
.sideBar {
  flex-grow: 0;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 150px;
  height: 92vh;
}

.linkBox {
  padding: 30px 10px;
  width: 100%;
  border: 1px solid var(--bar-border-color);
  box-shadow: 0 3px 10px var(--bar-shadow-color);
  color: var(--font-color);
  text-decoration: none;
}

.linkBox:hover {
  background-color: var(--page-background-color);
}

/* Style for the Main Content on Every Page */
.mainPage {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pageTitle {
  text-align: center;
}

/* Style for Sign in Message */
.signInMessage,
.signOutMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for Sign in Form */
.signInForm {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

input {
  margin-left: 10px;
  font-size: 18px;
  background-color: var(--form-background-color);
}

.signInSubmit,
.profileButton,
.signOutButton {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--button-background-color);
  color: var(--font-color);
  text-decoration: none;
}

.signInSubmit:hover,
.profileButton:hover,
.signOutButton:hover {
  background-color: var(--bar-background-color);
}

/* Style for Home Page */
.tableHeader {
  text-align: center;
}

/* Style for Tables */
.statsTable,
.postsTable,
.usersTable,
.profileTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.statsTable td,
.statsTable th {
  width: 250px;
}

.profileTable td {
  width: 300px;
}

.profileTable th {
  width: 150px;
}

.statsTable td,
.statsTable th,
.postsTable td,
.postsTable th,
.usersTable td,
.usersTable th,
.profileTable td,
.profileTable th {
  text-align: center;
  border: 1px solid var(--bar-border-color);
  padding: 15px;
  height: 80px;
}

.statsTable tr:nth-child(even),
.postsTable tr:nth-child(even),
.usersTable tr:nth-child(even),
.profileTable tr:nth-child(even) {
  background-color: var(--light-table-color);
}

.statsTable tr:nth-child(odd),
.postsTable tr:nth-child(odd),
.usersTable tr:nth-child(odd),
.profileTable tr:nth-child(odd) {
  background-color: var(--dark-table-color);
}

.statsTable tr:nth-child(even):hover,
.postsTable tr:nth-child(even):hover,
.usersTable tr:nth-child(even):hover,
.profileTable tr:nth-child(even):hover {
  background-color: var(--light-table-hover-color);
}

.statsTable tr:nth-child(odd):hover,
.postsTable tr:nth-child(odd):hover,
.usersTable tr:nth-child(odd):hover,
.profileTable tr:nth-child(odd):hover {
  background-color: var(--dark-table-hover-color);
}

.statsTable th,
.postsTable th,
.usersTable th,
.profileTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--table-header-color);
  color: var(--font-color);
}

.tableIcon {
  height: 40px;
}

.tableIcon:hover {
  height: 37px;
}

/* Style for New Post Form */
.formTitle,
.formText {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.formTitleInput,
.formTextInput {
  width: 500px;
  background-color: var(--form-background-color);
}

.formRadio {
  display: flex;
  flex-direction: row;
}

.radioButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

/* Style for Profile Page */
